<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996064928720-pcos27sbaahejhsjlqc8i7lifqfpqldk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996064928720-pcos27sbaahejhsjlqc8i7lifqfpqldk</string>
	<key>API_KEY</key>
	<string>AIzaSyDinwK5ik5dJb4i0ZW9isGFJOdhOncXvMU</string>
	<key>GCM_SENDER_ID</key>
	<string>996064928720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NYUiOS.Rendezvous</string>
	<key>PROJECT_ID</key>
	<string>rendezvousii</string>
	<key>STORAGE_BUCKET</key>
	<string>rendezvousii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:996064928720:ios:3a7447205c42e4e2d94fd5</string>
	<key>DATABASE_URL</key>
	<string>https://rendezvousii.firebaseio.com</string>
</dict>
</plist>
